<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}">
        {% if page.math %}
            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        {% endif %}
    </head>
    <body>
        {{ content }}
        <br>
        <small>{{ page.custom_date }}</small>
        <footer><a href="/">Home</a>, <a href="/license">Uncopyrighted</a></footer>
    </body>
</html>
