<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}">
        {% if page.math %}
            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        {% endif %}
    </head>
    <body>
        {{ content }}
        <br>
        {% if page.custom_date %}
            <small>Published: {{ page.custom_date }}</small>
        {% endif %}
        {% if page.updated_date %}
            <small>Updated: {{ page.updated_date }}</small>
        {% endif %}
        <footer>
            <a href="/">Home</a>,
            <a href="/license">Uncopyrighted</a>,
            <a rel="noopener" href="/feed.xml">RSS</a>,
            Discord: jProgr#2357,
            Email: 8537691@gmail.com,
            Telegram: @jProgr0,
            <a rel="noopener" href="https://mas.to/@jprogr">Mastodon</a>,
            <a rel="noopener" href="https://twitter.com/jProgr">Twitter</a>,
            <a rel="noopener" href="https://www.tumblr.com/jprogr">Tumblr</a>,
            <a rel="noopener" href="https://github.com/jProgr">GitHub</a>.
        </footer>
    </body>
</html>
