<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        <link rel="shortcut icon" href="{{ "/assets/favicon.png" | relative_url }}">
        <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}">
    </head>
    <body>
        {{ content }}
        <br>
        <small>{{ page.custom_date }}</small>
        <footer><a href="/">Home</a>, <a href="/license">Uncopyrighted</a></footer>
    </body>
</html>
